# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
sqlite-amalgamation-3370200/json.hpp
sqlite-amalgamation-3370200/main_new
sqlite-amalgamation-3370200/main_new.cpp
sqlite-amalgamation-3370200/Makefile
sqlite-amalgamation-3370200/shell.c
sqlite-amalgamation-3370200/sqlite
sqlite-amalgamation-3370200/sqlite3.c
sqlite-amalgamation-3370200/sqlite3.h
sqlite-amalgamation-3370200/sqlite3ext.h
src/dbg.h
src/help.txt
src/tmp2.c
src/tmp.cpp
src/sample.c
src/Makefile
src/main_new
sqlite-amalgamation-3370200.zip
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
src/fun.cpp
